.DS_Store
/build
/captures
.externalNativeBuild
.cxx

*.iml
*.aab
.gradle
local.properties
/local.properties
/keystore.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/App/google-services.json
\.idea/
